{{- $linkObject := "" }}
{{- with and . .menu }}
  {{- $linkObject = partial "_relearn/refObject.gotmpl" (dict "page" $.page "objectRef" .PageRef "refObject" .Page "searchPage" $.searchPage "searchResource" $.searchResource) }}
{{- end }}
{{- return $linkObject }}