{{ template "header.tmpl" . }}

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Started</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td><a href="#{{ .Service.Name }}">{{ .Service.Name }}</a></td>
        <td>{{ .Service.Started.Format "Mon Jan _2 15:04:05 MST 2006" }}</td>
        <td style="display: flex; flex-wrap: wrap; gap: 1em">
{{ if .Service.Stopped }}
          <form method="POST" action="/restart">
            <input type="hidden" name="xsrftoken" value="{{ .XsrfToken }}">
            <input type="hidden" name="path" value="{{ .Service.Name }}">
            <input type="hidden" name="supervise" value="once">
            <input type="submit" value="▶ run once">
          </form>

          <form method="POST" action="/restart">
            <input type="hidden" name="xsrftoken" value="{{ .XsrfToken }}">
            <input type="hidden" name="path" value="{{ .Service.Name }}">
            <input type="hidden" name="supervise" value="loop">
            <input type="submit" value="🔁 supervise (run in a loop)">
          </form>
{{ else }}
          <form method="POST" action="/stop">
            <input type="hidden" name="xsrftoken" value="{{ .XsrfToken }}">
            <input type="hidden" name="path" value="{{ .Service.Name }}">
            <input type="submit" value="❌ stop">
          </form>
{{ end }}
        </td>
      </tr>
    </table>

    {{ if (ne .Service.Diverted "") }}
    <p>
      Diverted: <code>{{ .Service.Diverted }}</code>
    </p>
    {{ end }}

    <h3>stdout <small><a href="/log?path={{ .Service.Name }}&stream=stdout">raw log</a></small></h3>
    <pre id="stdout"></pre>

    <h3>stderr <small><a href="/log?path={{ .Service.Name }}&stream=stderr">raw log</a></small></h3>
    <pre id="stderr"></pre>

    <h3>module info</h3>
    <pre>{{ .Service.ModuleInfo }}</pre>

  </div>
</div>

{{ template "footer.tmpl" . }}

<script>
    // truncateAt finds the position at which the prefix should be removed
    // to have the right number of lines (for use with slice).
    function truncateAt(s, maxLines) {
      let found = 0;
      let i = s.length + 1;
      while (true) {
        i = s.lastIndexOf("\n", i - 1);
        if (i == -1) {
          return 0;
        }
        found++;
        if (found >= maxLines) {
          return i + 1;
        }
      }
    }

    const stderrElt = document.getElementById("stderr");
    const stdoutElt = document.getElementById("stdout");

    const maxLines = 101;

    new EventSource("/log?path={{ .Service.Name }}&stream=stderr", { withCredentials: true }).onmessage = function(e) {
      // Append line to whatever is in the `pre` block. Then, truncate number of lines to `maxLines`.
      const txt = stderrElt.innerText + e.data + "\n";
      const i = truncateAt(stderrElt.innerText, maxLines);
      stderrElt.innerText = txt.slice(i);
    };
    new EventSource("/log?path={{ .Service.Name }}&stream=stdout", { withCredentials: true }).onmessage = function(e) {
      const txt = stdoutElt.innerText + e.data + "\n";
      const i = truncateAt(stdoutElt.innerText, maxLines);
      stdoutElt.innerText = txt.slice(i);
    };
</script>
