    /* initially use section background to avoid flickering on load when a non default variant is active;
    this is only possible because every color variant defines this variable, otherwise we would have been lost */
    --INTERNAL-PRIMARY-color: var(--PRIMARY-color, var(--MENU-HEADER-BG-color, #8451a1)); /* not --INTERNAL-MENU-HEADER-BG-color */
    --INTERNAL-PRIMARY-HOVER-color: var(--PRIMARY-HOVER-color, var(--MENU-HEADER-BORDER-color, var(--INTERNAL-PRIMARY-color)));
    --INTERNAL-SECONDARY-color: var(--SECONDARY-color, var(--MAIN-LINK-color, rgba( 72, 106, 201, 1 ))); /* not --INTERNAL-MAIN-LINK-color */
    --INTERNAL-SECONDARY-HOVER-color: var(--SECONDARY-HOVER-color, var(--MAIN-LINK-HOVER-color, var(--INTERNAL-SECONDARY-color)));
    --INTERNAL-ACCENT-color: var(--ACCENT-color, rgba( 255, 215, 0, 1 ));
    --INTERNAL-ACCENT-HOVER-color: var(--ACCENT-HOVER-color, rgba( 255, 235, 120, 1 ));

    --INTERNAL-TOPBAR-BG-color: var(--TOPBAR-BG-color, color-mix(in srgb, var(--INTERNAL-MAIN-BG-color), rgba(134, 134, 134, 0.133)));
    --INTERNAL-TOPBAR-TEXT-color: var(--TOPBAR-TEXT-color, var(--INTERNAL-MAIN-TEXT-color));
    --INTERNAL-TOPBAR-SEPARATOR-color: var(--TOPBAR-SEPARATOR-color, color-mix(in srgb, var(--INTERNAL-TOPBAR-BG-color), rgba(134, 134, 134, 0.666)));
    --INTERNAL-TOPBAR-OVERLAY-BG-color: var(--TOPBAR-OVERLAY-BG-color, var(--INTERNAL-MAIN-BG-color));
    --INTERNAL-TOPBAR-LINK-color: var(--TOPBAR-LINK-color, var(--INTERNAL-MAIN-LINK-color));
    --INTERNAL-TOPBAR-LINK-HOVER-color: var(--TOPBAR-LINK-HOVER-color, var(--INTERNAL-MAIN-LINK-HOVER-color));
    --INTERNAL-TOPBAR-BUTTON-color: var(--TOPBAR-BUTTON-color, var(--INTERNAL-TOPBAR-LINK-color));
    --INTERNAL-TOPBAR-BUTTON-HOVER-color: var(--TOPBAR-BUTTON-HOVER-color, var(--INTERNAL-TOPBAR-LINK-HOVER-color));
    --INTERNAL-MAIN-TOPBAR-BORDER-color: var(--MAIN-TOPBAR-BORDER-color, transparent);

    --INTERNAL-MAIN-LINK-color: var(--MAIN-LINK-color, var(--INTERNAL-SECONDARY-color));
    --INTERNAL-MAIN-LINK-HOVER-color: var(--MAIN-LINK-HOVER-color, var(--INTERNAL-SECONDARY-HOVER-color));
    --INTERNAL-MAIN-BUTTON-color: var(--MAIN-BUTTON-color, var(--INTERNAL-MAIN-LINK-color));
    --INTERNAL-MAIN-BUTTON-HOVER-color: var(--MAIN-BUTTON-HOVER-color, var(--INTERNAL-MAIN-LINK-HOVER-color));
    --INTERNAL-MAIN-BG-color: var(--MAIN-BG-color, rgba( 255, 255, 255, 1 ));
    --INTERNAL-MAIN-BOLD-font-weight: var(--MAIN-BOLD-font-weight, 800);

    --INTERNAL-MAIN-TEXT-color: var(--MAIN-TEXT-color, rgba( 16, 16, 16, 1 ));
    --INTERNAL-MAIN-font: var(--MAIN-font, "Roboto Flex", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif);
    --INTERNAL-MAIN-font-variation-settings: var(--MAIN-font-variation-settings, "wdth" 118, "GRAD" -200, "YTFI" 710);
    --INTERNAL-MAIN-font-weight: var(--MAIN-font-weight, 300);
    --INTERNAL-MAIN-letter-spacing: var(--MAIN-letter-spacing, .014em);

    --INTERNAL-MAIN-TITLES-TEXT-color: var(--MAIN-TITLES-TEXT-color, var(--INTERNAL-MAIN-TEXT-color));
    --INTERNAL-MAIN-TITLES-font: var(--MAIN-TITLES-font, var(--MAIN-TITLES-TEXT-font, var(--INTERNAL-MAIN-font))); /* fallback for renaming */
    --INTERNAL-MAIN-TITLES-font-variation-settings: var(--MAIN-TITLES-font-variation-settings, "wdth" 118, "GRAD" 0, "YTFI" 710);
    --INTERNAL-MAIN-TITLES-font-weight: var(--MAIN-TITLES-font-weight, 500);
    --INTERNAL-MAIN-TITLES-letter-spacing: var(--MAIN-TITLES-letter-spacing, var(--INTERNAL-MAIN-letter-spacing));

    --INTERNAL-MAIN-TITLES-H1-TEXT-color: var(--MAIN-TITLES-H1-TEXT-color, var(--MAIN-TITLES-H1-color, var(--INTERNAL-MAIN-TITLES-TEXT-color))); /* fallback for renaming */
    --INTERNAL-MAIN-TITLES-H1-font: var(--MAIN-TITLES-H1-font, var(--INTERNAL-MAIN-TITLES-font));
    --INTERNAL-MAIN-TITLES-H1-font-variation-settings: var(--MAIN-TITLES-H1-font-variation-settings, "wdth" 118, "GRAD" -100, "YTFI" 710);
    --INTERNAL-MAIN-TITLES-H1-font-weight: var(--MAIN-TITLES-H1-font-weight, 200);
    --INTERNAL-MAIN-TITLES-H1-letter-spacing: var(--MAIN-TITLES-H1-letter-spacing, var(--INTERNAL-MAIN-TITLES-letter-spacing));

    --INTERNAL-MAIN-TITLES-H2-TEXT-color: var(--MAIN-TITLES-H2-TEXT-color, var(--MAIN-TITLES-H2-color, var(--INTERNAL-MAIN-TITLES-TEXT-color)));
    --INTERNAL-MAIN-TITLES-H2-font: var(--MAIN-TITLES-H2-font, var(--INTERNAL-MAIN-TITLES-font));
    --INTERNAL-MAIN-TITLES-H2-font-variation-settings: var(--MAIN-TITLES-H2-font-variation-settings, var(--INTERNAL-MAIN-TITLES-font-variation-settings));
    --INTERNAL-MAIN-TITLES-H2-font-weight: var(--MAIN-TITLES-H2-font-weight, var(--INTERNAL-MAIN-TITLES-font-weight));
    --INTERNAL-MAIN-TITLES-H2-letter-spacing: var(--MAIN-TITLES-H2-letter-spacing, var(--INTERNAL-MAIN-TITLES-letter-spacing));

    --INTERNAL-MAIN-TITLES-H3-TEXT-color: var(--MAIN-TITLES-H3-TEXT-color, var(--MAIN-TITLES-H3-color, var(--INTERNAL-MAIN-TITLES-H2-TEXT-color))); /* fallback for renaming */
    --INTERNAL-MAIN-TITLES-H3-font: var(--MAIN-TITLES-H3-font, var(--INTERNAL-MAIN-TITLES-H2-font));
    --INTERNAL-MAIN-TITLES-H3-font-variation-settings: var(--MAIN-TITLES-H3-font-variation-settings, var(--INTERNAL-MAIN-TITLES-H2-font-variation-settings));
    --INTERNAL-MAIN-TITLES-H3-font-weight: var(--MAIN-TITLES-H3-font-weight, var(--INTERNAL-MAIN-TITLES-H2-font-weight));
    --INTERNAL-MAIN-TITLES-H3-letter-spacing: var(--MAIN-TITLES-H3-letter-spacing, var(--INTERNAL-MAIN-TITLES-H2-letter-spacing));

    --INTERNAL-MAIN-TITLES-H4-TEXT-color: var(--MAIN-TITLES-H4-TEXT-color, var(--MAIN-TITLES-H4-color, var(--INTERNAL-MAIN-TITLES-H3-TEXT-color))); /* fallback for renaming */
    --INTERNAL-MAIN-TITLES-H4-font: var(--MAIN-TITLES-H4-font, var(--INTERNAL-MAIN-TITLES-H3-font));
    --INTERNAL-MAIN-TITLES-H4-font-variation-settings: var(--MAIN-TITLES-H4-font-variation-settings, "wdth" 118, "GRAD" -150, "YTFI" 710);
    --INTERNAL-MAIN-TITLES-H4-font-weight: var(--MAIN-TITLES-H4-font-weight, 300);
    --INTERNAL-MAIN-TITLES-H4-letter-spacing: var(--MAIN-TITLES-H4-letter-spacing, var(--INTERNAL-MAIN-TITLES-H3-letter-spacing));

    --INTERNAL-MAIN-TITLES-H5-TEXT-color: var(--MAIN-TITLES-H5-TEXT-color, var(--MAIN-TITLES-H5-color, var(--INTERNAL-MAIN-TITLES-H4-TEXT-color))); /* fallback for renaming */
    --INTERNAL-MAIN-TITLES-H5-font: var(--MAIN-TITLES-H5-font, var(--INTERNAL-MAIN-TITLES-H4-font));
    --INTERNAL-MAIN-TITLES-H5-font-variation-settings: var(--MAIN-TITLES-H5-font-variation-settings, var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings));
    --INTERNAL-MAIN-TITLES-H5-font-weight: var(--MAIN-TITLES-H5-font-weight, var(--INTERNAL-MAIN-TITLES-H4-font-weight));
    --INTERNAL-MAIN-TITLES-H5-letter-spacing: var(--MAIN-TITLES-H5-letter-spacing, var(--INTERNAL-MAIN-TITLES-H4-letter-spacing));

    --INTERNAL-MAIN-TITLES-H6-TEXT-color: var(--MAIN-TITLES-H6-TEXT-color, var(--MAIN-TITLES-H6-color, var(--INTERNAL-MAIN-TITLES-H5-TEXT-color))); /* fallback for renaming */
    --INTERNAL-MAIN-TITLES-H6-font: var(--MAIN-TITLES-H6-font, var(--INTERNAL-MAIN-TITLES-H5-font));
    --INTERNAL-MAIN-TITLES-H6-font-variation-settings: var(--MAIN-TITLES-H6-font-variation-settings, var(--INTERNAL-MAIN-TITLES-H5-font-variation-settings));
    --INTERNAL-MAIN-TITLES-H6-font-weight: var(--MAIN-TITLES-H6-font-weight, var(--INTERNAL-MAIN-TITLES-H5-font-weight));
    --INTERNAL-MAIN-TITLES-H6-letter-spacing: var(--MAIN-TITLES-H6-letter-spacing, var(--INTERNAL-MAIN-TITLES-H5-letter-spacing));

    --INTERNAL-CODE-font: var(--CODE-font, "Consolas", menlo, monospace);
    --INTERNAL-CODE-font-variation-settings: var(--CODE-font-variation-settings, normal);
    --INTERNAL-CODE-font-weight: var(--CODE-font-weight, 300);
    --INTERNAL-CODE-letter-spacing: var(--CODE-letter-spacing, normal);

    --INTERNAL-CODE-theme: var(--CODE-theme, relearn-light);
    --INTERNAL-CODE-BLOCK-color: var(--CODE-BLOCK-color, var(--MAIN-CODE-color, rgba( 39, 40, 34, 1 ))); /* fallback for renaming */
    --INTERNAL-CODE-BLOCK-BG-color: var(--CODE-BLOCK-BG-color, var(--MAIN-CODE-BG-color, rgba( 250, 250, 250, 1 ))); /* fallback for renaming */
    --INTERNAL-CODE-BLOCK-BORDER-color: var(--CODE-BLOCK-BORDER-color, var(--MAIN-CODE-BG-color, var(--INTERNAL-CODE-BLOCK-BG-color))); /* fallback for renaming */
    --INTERNAL-CODE-INLINE-color: var(--CODE-INLINE-color, rgba( 94, 94, 94, 1 ));
    --INTERNAL-CODE-INLINE-BG-color: var(--CODE-INLINE-BG-color, rgba( 255, 250, 233, 1 ));
    --INTERNAL-CODE-INLINE-BORDER-color: var(--CODE-INLINE-BORDER-color, rgba( 251, 240, 203, 1 ));

    --INTERNAL-BROWSER-theme: var(--BROWSER-theme, light);
    --INTERNAL-MERMAID-theme: var(--CONFIG-MERMAID-theme, var(--MERMAID-theme, var(--INTERNAL-PRINT-MERMAID-theme)));
    --INTERNAL-OPENAPI-theme: var(--CONFIG-OPENAPI-theme, var(--OPENAPI-theme, var(--SWAGGER-theme, var(--INTERNAL-PRINT-OPENAPI-theme)))); /* fallback for renaming */
    --INTERNAL-OPENAPI-CODE-theme: var(--CONFIG-OPENAPI-CODE-theme, var(--OPENAPI-CODE-theme, --INTERNAL-PRINT-OPENAPI-CODE-theme));

    --INTERNAL-TAG-BG-color: var(--TAG-BG-color, var(--INTERNAL-PRIMARY-color));

    --INTERNAL-MENU-BORDER-color: var(--MENU-BORDER-color, transparent);
    --INTERNAL-MENU-TOPBAR-BORDER-color: var(--MENU-TOPBAR-BORDER-color, var(--INTERNAL-MENU-HEADER-BG-color));
    --INTERNAL-MENU-TOPBAR-SEPARATOR-color: var(--MENU-TOPBAR-SEPARATOR-color, transparent);

    --INTERNAL-MENU-HEADER-color: var(--MENU-HEADER-color, var(--INTERNAL-MENU-SECTIONS-LINK-color));
    --INTERNAL-MENU-HEADER-BG-color: var(--MENU-HEADER-BG-color, var(--PRIMARY-color, rgba( 0, 0, 0, 0 ))); /* not --INTERNAL-PRIMARY-color */
    --INTERNAL-MENU-HEADER-BORDER-color: var(--MENU-HEADER-BORDER-color, var(--INTERNAL-MENU-HEADER-BG-color)); /* no further fallback to --PRIMARY-HOVER-color, as this would be rude for existing users */

    --INTERNAL-MENU-SEARCH-color: var(--MENU-SEARCH-color, var(--MENU-SEARCH-BOX-ICONS-color, rgba( 224, 224, 224, 1 ))); /* fallback for renaming */
    --INTERNAL-MENU-SEARCH-BG-color: var(--MENU-SEARCH-BG-color, rgba( 50, 50, 50, 1 ));
    --INTERNAL-MENU-SEARCH-BORDER-color: var(--MENU-SEARCH-BORDER-color, var(--MENU-SEARCH-BOX-color, var(--INTERNAL-MENU-SEARCH-BG-color))); /* fallback for renaming */

    --INTERNAL-MENU-HOME-LINK-color: var(--MENU-HOME-LINK-color, rgba( 50, 50, 50, 1 ));
    --INTERNAL-MENU-HOME-LINK-HOVER-color: var(--MENU-HOME-LINK-HOVER-color, var(--MENU-HOME-LINK-HOVERED-color, rgba( 128, 128, 128, 1 ))); /* fallback for renaming */
    --INTERNAL-MENU-HOME-TOP-SEPARATOR-color: var(--MENU-HOME-TOP-SEPARATOR-color, var(--INTERNAL-MENU-HOME-LINK-color));
    --INTERNAL-MENU-HOME-SEPARATOR-color: var(--MENU-HOME-SEPARATOR-color, var(--INTERNAL-MENU-HOME-LINK-color));
    --INTERNAL-MENU-HOME-BOTTOM-SEPARATOR-color: var(--MENU-HOME-BOTTOM-SEPARATOR-color, var(--MENU-HEADER-SEPARATOR-color, var(--INTERNAL-MENU-HEADER-BORDER-color))); /* fallback for renaming */

    --INTERNAL-MENU-SECTIONS-ACTIVE-BG-color: var(--MENU-SECTIONS-ACTIVE-BG-color, rgba( 0, 0, 0, .166 ));
    --INTERNAL-MENU-SECTIONS-BG-color: var(--MENU-SECTIONS-BG-color, rgba( 40, 40, 40, 1 ));
    --INTERNAL-MENU-SECTIONS-LINK-color: var(--MENU-SECTIONS-LINK-color, rgba( 186, 186, 186, 1 ));
    --INTERNAL-MENU-SECTIONS-LINK-HOVER-color: var(--MENU-SECTIONS-LINK-HOVER-color, var(--INTERNAL-MENU-SECTIONS-LINK-color));
    --INTERNAL-MENU-SECTION-ACTIVE-CATEGORY-color: var(--MENU-SECTION-ACTIVE-CATEGORY-color, rgba( 68, 68, 68, 1 ));
    --INTERNAL-MENU-SECTION-ACTIVE-CATEGORY-BG-color: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color, var(--INTERNAL-MAIN-BG-color));
    --INTERNAL-MENU-SECTION-ACTIVE-CATEGORY-BORDER-color: var(--MENU-SECTION-ACTIVE-CATEGORY-BORDER-color, transparent);

    --INTERNAL-MENU-VISITED-color: var(--MENU-VISITED-color, var(--INTERNAL-SECONDARY-color));
    --INTERNAL-MENU-SECTION-SEPARATOR-color: var(--MENU-SECTION-SEPARATOR-color, var(--MENU-SECTION-HR-color, var(--INTERNAL-MENU-SECTIONS-LINK-color))); /* fallback for renaming */

    --INTERNAL-BOX-CAPTION-color: var(--BOX-CAPTION-color, rgba( 255, 255, 255, 1 ));
    --INTERNAL-BOX-BG-color: var(--BOX-BG-color, rgba( 255, 255, 255, .833 ));
    --INTERNAL-BOX-TEXT-color: var(--BOX-TEXT-color, var(--INTERNAL-MAIN-TEXT-color));

    /* print style, values taken from relearn-light as it is used as a default print style */
    --INTERNAL-PRINT-MAIN-BG-color: var(--PRINT-MAIN-BG-color, rgba( 255, 255, 255, 1 ));
    --INTERNAL-PRINT-CODE-font: var(--PRINT-CODE-font, "Consolas", menlo, monospace);
    --INTERNAL-PRINT-TAG-BG-color: var(--PRINT-TAG-BG-color, rgba( 125, 201, 3, 1 ));
    --INTERNAL-PRINT-MAIN-font: var(--PRINT-MAIN-font, "Roboto Flex", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif);
    --INTERNAL-PRINT-MAIN-TEXT-color: var(--PRINT-MAIN-TEXT-color, rgba( 16, 16, 16, 1 ));
    --INTERNAL-PRINT-MERMAID-theme: var(--PRINT-MERMAID-theme, default);
    --INTERNAL-PRINT-OPENAPI-theme: var(--PRINT-OPENAPI-theme, var(--PRINT-SWAGGER-theme, light)); /* fallback for renaming */
    --INTERNAL-PRINT-OPENAPI-CODE-theme: var(--PRINT-OPENAPI-CODE-theme, idea);

    --INTERNAL-MENU-WIDTH-S: var(--MENU-WIDTH-S, 14.375rem);
    --INTERNAL-MENU-WIDTH-M: var(--MENU-WIDTH-M, 14.375rem);
    --INTERNAL-MENU-WIDTH-L: var(--MENU-WIDTH-L, 18.75rem);
    --INTERNAL-MAIN-WIDTH-MAX: var(--MAIN-WIDTH-MAX, 81.25rem);
