
    <style>
      /* image effects */
      #R-body svg.purple,
      #R-body svg.purple :not([fill]),
      #R-body svg.purple :not([fill='black']),
      #R-body svg.purple :not([fill='#000000']) {
        fill: var(--INTERNAL-PRIMARY-color) !important;
      }

      /* logo */
      #R-logo {
        font-size: 1.4rem;
        margin-bottom: -.8125rem;
        margin-top: -.8125rem;
        max-width: 100%;
        width: 14.125rem;
      }
      @media only all and (max-width: 59.999rem) {
        #R-logo {
          font-size: 1rem;
          margin-bottom: -.25rem;
          margin-top: -.25rem;
        }
      }
      #R-logo svg {
        display: inline-block;
        opacity: .945;
        vertical-align: middle;
        width: 26% !important;
      }
      @media only all and (max-width: 59.999rem) {
        #R-logo svg {
          width: 24.5% !important;
        }
      }
      #R-logo svg * {
        opacity: .945;
      }
      #R-logo .logo-title{
        display: inline-block;
        overflow-wrap: break-word;
        text-align: left;
        text-wrap: wrap;
        vertical-align: middle;
        width: 4.5em;
      }
    </style>