{{- warnf "DEPRECATED partial 'dependencies.gotmpl' used, use 'dependencies.html' instead; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/7/#7-7-0" }}
{{- partial "dependencies.html" . }}