<!DOCTYPE html>
<html lang="en">
<title>{{ .Hostname }} — gokrazy</title>
<link rel="stylesheet" href="/bootstrap-3.3.7.min.css" />
<link rel="stylesheet" href="/bootstrap-table-1.11.0.min.css" />
<style type="text/css">
.progress-bar:nth-child(5n) {
        background-color: #337ab7;
}
.progress-bar:nth-child(5n+1) {
        background-color: #5cb85c;
}
.progress-bar:nth-child(5n+2) {
        background-color: #5bc0de;
}
.progress-bar:nth-child(5n+3) {
        background-color: #f0ad4e;
}
.progress-bar:nth-child(5n+4) {
        background-color: #d9534f;
}
.lastlog {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}
table {
        table-layout: fixed;
}
</style>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand" style="height: 70px; margin-bottom: 0;">
          <a href="/">gokrazy</a><br>
          <small style="font-size: 11px" class="text-muted">version {{ .BuildTimestamp }}</small>
        </p>
      </div>

      <div class="nav navbar-right hidden-xs">
        <table class="navbar-text" style="border-spacing: 10px 0; border-collapse: separate">
          <tr>
            <th>host</th>
            <td>{{ .Hostname }}</td>
          </tr>
          <tr>
            <th>kernel</th>
            <td>{{ .Kernel }}</td>
          </tr>
        </table>
        <table class="navbar-text" style="border-spacing: 10px 0; border-collapse: separate">
          {{ if (ne .Model "") }}
          <tr>
            <th>model</th>
            <td>{{ .Model }}</td>
          </tr>
          {{ end }}
          {{ if (ne .Firmware "") }}
          <tr>
            <th>firmware</th>
            <td>{{ .Firmware }}</td>
          </tr>
          {{ end }}
          {{ if .EEPROM }}
          <tr>
            <th>EEPROM<br>(SHA256)</th>
            <td>{{ shortenSHA256 .EEPROM.PieepromSHA256 }}<br>{{ shortenSHA256 .EEPROM.VL805SHA256 }}</td>
          </tr>
          {{ end }}
        </table>

      </div><!-- /.nav.navbar-right -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
