{{- $onwidths := cond (isset . "onwidths") .onwidths "area-more" }}
{{- $onwidthm := cond (isset . "onwidthm") .onwidthm "show" }}
{{- $onwidthl := cond (isset . "onwidthl") .onwidthl "show" }}
{{- with .page }}
	{{- $format := .OutputFormats.Get "source" }}
	{{- $show := and $format (not (.Param "disableSourceButton")) }}
	{{- if $show }}
		{{- $show = and (not (partial "_relearn/pageIsSpecial.gotmpl" .)) .File .File.Filename }}
	{{- end }}
	{{- if $show }}
		{{- $href := printf "%s?format=source" .Path }}
		{{- partial "topbar/func/button.html" (dict
			"page" .
			"class" "topbar-button-source"
			"href" $href
			"icon" "code"
			"onwidths" $onwidths
			"onwidthm" $onwidthm
			"onwidthl" $onwidthl
			"hint" (T "Show-source")
		)}}
	{{- end }}
{{- end }}